@font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Italic.eot");
    src: local("TT Lakes Italic"), local("./Fonts/TTLakes-Italic"),
      url("./Fonts/TTLakes-Italic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Italic.woff") format("woff"),
      url("./Fonts/TTLakes-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-ExtraLight.eot");
    src: local("TT Lakes Condensed ExtraLight"),
      local("./Fonts/TTLakesCondensed-ExtraLight"),
      url("./Fonts/TTLakesCondensed-ExtraLight.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-ExtraLight.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Regular.eot");
    src: local("TT Lakes Compressed Regular"),
      local("./Fonts/TTLakesCompressed-Regular"),
      url("./Fonts/TTLakesCompressed-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Regular.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-ThinItalic.eot");
    src: local("TT Lakes Compressed Thin Italic"),
      local("./Fonts/TTLakesCompressed-ThinItalic"),
      url("./Fonts/TTLakesCompressed-ThinItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-ThinItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Medium.eot");
    src: local("TT Lakes Condensed Medium"),
      local("./Fonts/TTLakesCondensed-Medium"),
      url("./Fonts/TTLakesCondensed-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Medium.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-ExtraBoldItalic.eot");
    src: local("TT Lakes Compressed ExtraBold Italic"),
      local("./Fonts/TTLakesCompressed-ExtraBoldItalic"),
      url("./Fonts/TTLakesCompressed-ExtraBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-ExtraBoldItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-ExtraLightItalic.eot");
    src: local("TT Lakes ExtraLight Italic"),
      local("./Fonts/TTLakes-ExtraLightItalic"),
      url("./Fonts/TTLakes-ExtraLightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakes-ExtraLightItalic.woff") format("woff"),
      url("./Fonts/TTLakes-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-LightItalic.eot");
    src: local("TT Lakes Light Italic"), local("./Fonts/TTLakes-LightItalic"),
      url("./Fonts/TTLakes-LightItalic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-LightItalic.woff") format("woff"),
      url("./Fonts/TTLakes-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Thin.eot");
    src: local("TT Lakes Thin"), local("./Fonts/TTLakes-Thin"),
      url("./Fonts/TTLakes-Thin.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Thin.woff") format("woff"),
      url("./Fonts/TTLakes-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-DemiBoldItalic.eot");
    src: local("TT Lakes DemiBold Italic"),
      local("./Fonts/TTLakes-DemiBoldItalic"),
      url("./Fonts/TTLakes-DemiBoldItalic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-DemiBoldItalic.woff") format("woff"),
      url("./Fonts/TTLakes-DemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Black.eot");
    src: local("TT Lakes Condensed Black"),
      local("./Fonts/TTLakesCondensed-Black"),
      url("./Fonts/TTLakesCondensed-Black.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Black.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-LightItalic.eot");
    src: local("TT Lakes Condensed Light Italic"),
      local("./Fonts/TTLakesCondensed-LightItalic"),
      url("./Fonts/TTLakesCondensed-LightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-LightItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-DemiBold.eot");
    src: local("TT Lakes Condensed DemiBold"),
      local("./Fonts/TTLakesCondensed-DemiBold"),
      url("./Fonts/TTLakesCondensed-DemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-DemiBold.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-ExtraBold.eot");
    src: local("TT Lakes Compressed ExtraBold"),
      local("./Fonts/TTLakesCompressed-ExtraBold"),
      url("./Fonts/TTLakesCompressed-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-ExtraBold.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-ExtraBoldItalic.eot");
    src: local("TT Lakes ExtraBold Italic"),
      local("./Fonts/TTLakes-ExtraBoldItalic"),
      url("./Fonts/TTLakes-ExtraBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakes-ExtraBoldItalic.woff") format("woff"),
      url("./Fonts/TTLakes-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-ExtraLight.eot");
    src: local("TT Lakes ExtraLight"), local("./Fonts/TTLakes-ExtraLight"),
      url("./Fonts/TTLakes-ExtraLight.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-ExtraLight.woff") format("woff"),
      url("./Fonts/TTLakes-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Bold.eot");
    src: local("TT Lakes Condensed Bold"), local("./Fonts/TTLakesCondensed-Bold"),
      url("./Fonts/TTLakesCondensed-Bold.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Bold.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-ThinItalic.eot");
    src: local("TT Lakes Condensed Thin Italic"),
      local("./Fonts/TTLakesCondensed-ThinItalic"),
      url("./Fonts/TTLakesCondensed-ThinItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-ThinItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-ExtraBoldItalic.eot");
    src: local("TT Lakes Condensed ExtraBold Italic"),
      local("./Fonts/TTLakesCondensed-ExtraBoldItalic"),
      url("./Fonts/TTLakesCondensed-ExtraBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-ExtraBoldItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Medium.eot");
    src: local("TT Lakes Compressed Medium"),
      local("./Fonts/TTLakesCompressed-Medium"),
      url("./Fonts/TTLakesCompressed-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Medium.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Thin.eot");
    src: local("TT Lakes Condensed Thin"), local("./Fonts/TTLakesCondensed-Thin"),
      url("./Fonts/TTLakesCondensed-Thin.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Thin.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Italic.eot");
    src: local("TT Lakes Compressed Italic"),
      local("./Fonts/TTLakesCompressed-Italic"),
      url("./Fonts/TTLakesCompressed-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Italic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Light.eot");
    src: local("TT Lakes Compressed Light"),
      local("./Fonts/TTLakesCompressed-Light"),
      url("./Fonts/TTLakesCompressed-Light.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Light.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-LightItalic.eot");
    src: local("TT Lakes Compressed Light Italic"),
      local("./Fonts/TTLakesCompressed-LightItalic"),
      url("./Fonts/TTLakesCompressed-LightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-LightItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Regular.eot");
    src: local("TT Lakes Condensed Regular"),
      local("./Fonts/TTLakesCondensed-Regular"),
      url("./Fonts/TTLakesCondensed-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Regular.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Light.eot");
    src: local("TT Lakes Condensed Light"),
      local("./Fonts/TTLakesCondensed-Light"),
      url("./Fonts/TTLakesCondensed-Light.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Light.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("./Fonts/TTLakes-Bold"),
      url("./Fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Bold.woff") format("woff"),
      url("./Fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-DemiBold.eot");
    src: local("TT Lakes DemiBold"), local("./Fonts/TTLakes-DemiBold"),
      url("./Fonts/TTLakes-DemiBold.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-DemiBold.woff") format("woff"),
      url("./Fonts/TTLakes-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Thin.eot");
    src: local("TT Lakes Compressed Thin"),
      local("./Fonts/TTLakesCompressed-Thin"),
      url("./Fonts/TTLakesCompressed-Thin.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Thin.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Black.eot");
    src: local("TT Lakes Black"), local("./Fonts/TTLakes-Black"),
      url("./Fonts/TTLakes-Black.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Black.woff") format("woff"),
      url("./Fonts/TTLakes-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-MediumItalic.eot");
    src: local("TT Lakes Medium Italic"), local("./Fonts/TTLakes-MediumItalic"),
      url("./Fonts/TTLakes-MediumItalic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-MediumItalic.woff") format("woff"),
      url("./Fonts/TTLakes-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-ExtraBold.eot");
    src: local("TT Lakes Condensed ExtraBold"),
      local("./Fonts/TTLakesCondensed-ExtraBold"),
      url("./Fonts/TTLakesCondensed-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-ExtraBold.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-ExtraLightItalic.eot");
    src: local("TT Lakes Condensed ExtraLight Italic"),
      local("./Fonts/TTLakesCondensed-ExtraLightItalic"),
      url("./Fonts/TTLakesCondensed-ExtraLightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-ExtraLightItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("./Fonts/TTLakes-Medium"),
      url("./Fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Medium.woff") format("woff"),
      url("./Fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-DemiBoldItalic.eot");
    src: local("TT Lakes Condensed DemiBold Italic"),
      local("./Fonts/TTLakesCondensed-DemiBoldItalic"),
      url("./Fonts/TTLakesCondensed-DemiBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-DemiBoldItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-DemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-BoldItalic.eot");
    src: local("TT Lakes Compressed Bold Italic"),
      local("./Fonts/TTLakesCompressed-BoldItalic"),
      url("./Fonts/TTLakesCompressed-BoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-BoldItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-ExtraLightItalic.eot");
    src: local("TT Lakes Compressed ExtraLight Italic"),
      local("./Fonts/TTLakesCompressed-ExtraLightItalic"),
      url("./Fonts/TTLakesCompressed-ExtraLightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-ExtraLightItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("./Fonts/TTLakes-Regular"),
      url("./Fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Regular.woff") format("woff"),
      url("./Fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-BoldItalic.eot");
    src: local("TT Lakes Bold Italic"), local("./Fonts/TTLakes-BoldItalic"),
      url("./Fonts/TTLakes-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-BoldItalic.woff") format("woff"),
      url("./Fonts/TTLakes-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-MediumItalic.eot");
    src: local("TT Lakes Condensed Medium Italic"),
      local("./Fonts/TTLakesCondensed-MediumItalic"),
      url("./Fonts/TTLakesCondensed-MediumItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-MediumItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-Italic.eot");
    src: local("TT Lakes Condensed Italic"),
      local("./Fonts/TTLakesCondensed-Italic"),
      url("./Fonts/TTLakesCondensed-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-Italic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-ThinItalic.eot");
    src: local("TT Lakes Thin Italic"), local("./Fonts/TTLakes-ThinItalic"),
      url("./Fonts/TTLakes-ThinItalic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-ThinItalic.woff") format("woff"),
      url("./Fonts/TTLakes-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-DemiBold.eot");
    src: local("TT Lakes Compressed DemiBold"),
      local("./Fonts/TTLakesCompressed-DemiBold"),
      url("./Fonts/TTLakesCompressed-DemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-DemiBold.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-BlackItalic.eot");
    src: local("TT Lakes Black Italic"), local("./Fonts/TTLakes-BlackItalic"),
      url("./Fonts/TTLakes-BlackItalic.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-BlackItalic.woff") format("woff"),
      url("./Fonts/TTLakes-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Bold.eot");
    src: local("TT Lakes Compressed Bold"),
      local("./Fonts/TTLakesCompressed-Bold"),
      url("./Fonts/TTLakesCompressed-Bold.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Bold.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-BlackItalic.eot");
    src: local("TT Lakes Condensed Black Italic"),
      local("./Fonts/TTLakesCondensed-BlackItalic"),
      url("./Fonts/TTLakesCondensed-BlackItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-BlackItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-MediumItalic.eot");
    src: local("TT Lakes Compressed Medium Italic"),
      local("./Fonts/TTLakesCompressed-MediumItalic"),
      url("./Fonts/TTLakesCompressed-MediumItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-MediumItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Condensed";
    src: url("./Fonts/TTLakesCondensed-BoldItalic.eot");
    src: local("TT Lakes Condensed Bold Italic"),
      local("./Fonts/TTLakesCondensed-BoldItalic"),
      url("./Fonts/TTLakesCondensed-BoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCondensed-BoldItalic.woff") format("woff"),
      url("./Fonts/TTLakesCondensed-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-ExtraLight.eot");
    src: local("TT Lakes Compressed ExtraLight"),
      local("./Fonts/TTLakesCompressed-ExtraLight"),
      url("./Fonts/TTLakesCompressed-ExtraLight.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-ExtraLight.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-ExtraBold.eot");
    src: local("TT Lakes ExtraBold"), local("./Fonts/TTLakes-ExtraBold"),
      url("./Fonts/TTLakes-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-ExtraBold.woff") format("woff"),
      url("./Fonts/TTLakes-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-DemiBoldItalic.eot");
    src: local("TT Lakes Compressed DemiBold Italic"),
      local("./Fonts/TTLakesCompressed-DemiBoldItalic"),
      url("./Fonts/TTLakesCompressed-DemiBoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-DemiBoldItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-DemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-BlackItalic.eot");
    src: local("TT Lakes Compressed Black Italic"),
      local("./Fonts/TTLakesCompressed-BlackItalic"),
      url("./Fonts/TTLakesCompressed-BlackItalic.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-BlackItalic.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TT Lakes";
    src: url("./Fonts/TTLakes-Light.eot");
    src: local("TT Lakes Light"), local("./Fonts/TTLakes-Light"),
      url("./Fonts/TTLakes-Light.eot?#iefix") format("embedded-opentype"),
      url("./Fonts/TTLakes-Light.woff") format("woff"),
      url("./Fonts/TTLakes-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TT Lakes Compressed";
    src: url("./Fonts/TTLakesCompressed-Black.eot");
    src: local("TT Lakes Compressed Black"),
      local("./Fonts/TTLakesCompressed-Black"),
      url("./Fonts/TTLakesCompressed-Black.eot?#iefix")
        format("embedded-opentype"),
      url("./Fonts/TTLakesCompressed-Black.woff") format("woff"),
      url("./Fonts/TTLakesCompressed-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }